.card{
    width: 170px;
    font-size: 12px;
    margin: 40px 0;
}


.card--image{
    width: 100%;
    height: 235px;
    border-radius: 9px;    
}


.star--image{
    width: 14px;
}
.texto--cards{
    margin: 0;
}